@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    I started this project so that I can keep on learning.<br/>
    <br/>    
    I have a sample application that I will start off very simple and with a bunch of things wrong with it.<br/>
    <br/>
    Over time will be improving / refactoring this application while learning.<br/>
    <br/>
    Source code is up on github: <a href="https://github.com/thesoftwaredude/MotorDB" target="_blank">https://github.com/thesoftwaredude/MotorDB</a><br/>
</article>

<aside>
    <h3>Aside</h3>
    <p>
        
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>